ul {
    list-style: none;
    margin: 0;
}

.container {
    margin: 0 auto;
    
    @media screen and (min-width: 480px){
        max-width: 480px;
    }
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    
}



.customers {
    font-family: "Roboto";
    font-style: normal;
    background-image: url(../images/customers+subscribe/bgi320.jpg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 60px 20px;
    min-width: 280px;
    @media screen and (min-width: 321px) {
        background-image: url(../images/customers+subscribe/bgi480.jpg);
        background-size: auto;
        padding-bottom: 90px;
    }

&__star {
        background-image: url(../images/customers+subscribe/star.svg), url(../images/customers+subscribe/star.svg),
            url(../images/customers+subscribe/star.svg), url(../images/customers+subscribe/star.svg), url(../images/customers+subscribe/star.svg);
        background-repeat: no-repeat;
        background-position: 0, top 0 left 20px, top 0 left 40px, top 0 left 60px,
            top 0 left 80px;
        width: 101px;
        height: 16px;
        padding: 0;
        margin-bottom: 28px;
    }

&__title {
    margin: 0;
    margin-bottom: 20px;
    width: 280px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    color: var(--main-color);
}

&__pre-title {
    width: 280px;
    margin: 0;
    margin-bottom: 32px;
    width: 100%;;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    color: var(--main-color);
}

&__text {
    margin: 0;
    margin-bottom: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: var(--main-color);
}

&__container {
    
    display: flex;
    width: 157px;
    border-right: 0.854167px solid #7eb101;
}

&__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

&__name {
    margin: 0;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--main-color);
}

&__nick-name {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--main-color);
}

&__list {
    padding: 0;
}

&__item {
   
    background-color: var(--white-color);
    border-radius: 0 30px 30px 30px;
    padding: 8px;
    @media screen and (min-width:480px) {
        width: 440px;
    }
}

&__item + &__item {
    margin-top: 24px;
}
}
