.footer {
    background-color: var(--main-bg-color);
    box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

    padding: 60px 0;
    background-image: 
    url(../images/apple_banana_bg.jpg), 
    url(../images/orange_bg.jpg), 
    url(../images/apple_bg.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto auto, auto auto, auto auto;
    background-position: 58% 100%, top right, top 132px left;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: 
            url(../images/apple_banana_2xbg.jpg), 
            url(../images/orange_2x_bg.jpg), 
            url(../images/apple_2x_bg.jpg);
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-size: 253px 56px, 104px 259px, 110px 116px;
            background-position: 50% 100%, top right, top 132px left;
        }
}


.container__footer {
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
            max-width: 480px;
        }
    }

.footer__nav {
    position: relative;
    margin-bottom: calc(60px - 6.2px);
}

.footer__logo {
    display: block;
    position: absolute;

}

.footer__menu {
    /* top: 64px;
    right: 101px; */
    display: block;
    width: 50px;

    padding: 0;
    margin: 0 81px 40px auto;
}

.menu__list {
    list-style: none;
}

.menu__list:not(:last-child) {
    margin-bottom: 20px;
}

.menu__link {
    font-size: 14px;
    line-height: calc(16 / 14);
    color: #000000;
    text-decoration: none;
}

.mailing__form {
    margin-bottom: 20px;
}

.mailing__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--main-color);
}

.mailing__input {
    display: block;
    width: 100%;
    height: 42px;
    background-color: var(--white-color);
    border: 0.854167px solid var(--accent-color);
    border-radius: 30px;

    padding: 0 12px 0;
    margin: 12px 0 0 0;
}

.mailing__input::placeholder {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 150%;
    color: #505050;
}

.mailing__btn {
    display: block;
    padding: 11px 22px;
    margin: 0 0 20px auto;

    background-color: var(--white-color);
    border: 0.854167px solid var(--buttons-dark-green);
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: var(--main-color);
    &:hover {
        border-color: var(--accent-color);
    }
}

.privacy__text {
    font-size: 10px;
    line-height: calc(12 / 10);
    color: var(--main-color);

    margin: 0;
}

.privacy__list {
    margin: 0 0 40px 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.privacy__item {
    list-style: none;
}

.privacy__link {
    font-weight: 400;
    font-size: 10px;
    line-height: calc(12 / 10);
    list-style: none;
    color: var(--buttons-dark-green);
}

.copyright {
    font-size: 10px;
    line-height: calc(12 / 10);
    color: var(--main-color);
    text-align: center;

    margin: 0;
}