.subscribe {
    font-family: "Roboto";
    font-style: normal;
    position: relative;
    min-width: 280px;
    margin: 0 auto;
    padding: 60px 20px 122px;
    @media screen and (min-width: 480px) {
            width: 480px;
        }

&__banana {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
   @media screen and (min-width:321px) {
    top: -70px;
   }  
}

&__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    color: var(--main-color);
    margin-top: 0;
    margin-bottom: 20px;
    width: 280px;
}

&__pre-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    color: var(--main-color);
    margin-top: 0;
    margin-bottom: 40px;
    width: 280px;
}

&__input {
    
    border: 0.854167px solid var(--acsent-color);
    border-radius: 30px;
    width: 100%;
    height: 42px;
    padding: 12px;
    margin-bottom: 20px;
}

&__input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--subscribe-color);
    padding: 0;
    margin: 0;
}
&__input:not(:placeholder-shown):required:valid {
    border-color: var(--buttons-dark-green);
}
&__input:not(:placeholder-shown):required:invalid{
    border-color: var(--invalid-color);
}
}
.subscribe__button {
   
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--subscribe-color);
    background-color: var(--buttons-green);
    border-radius: 30px;
    border: none;
    width: 103px;
    height: 42px;
    padding: 11px 22px;
    @media screen and(min-width:480px) {
        bottom: 60px;
    }
    &:hover, &:focus{
    background-color: var(--button-fokus-color)
    }
}
.subscribe__container {
        display: flex;
        flex-direction: column;
        align-items: end;
}