:root{
    --acsent-color: #FFE550;
    --main-bg-color: #FEFEFE;
    --buttons-green: #BBF330;
    --buttons-dark-green: #7EB101;
    --main-color: #2C2C2C;
    --second-color: #757575;
    --white-color: #FFFFFF;
    --animation-preset: cubic-bezier(0.4, 0, 0.2, 1);
}