:root{
    --accent-color: #FFE550;
    --main-bg-color: #FEFEFE;
    --buttons-green: #BBF330;
    --buttons-dark-green: #7EB101;
    --main-color: #2C2C2C;
    --second-color: #757575;
    --white-color: #FFFFFF;
    --subscribe-color: #505050;
    --invalid-color: #FF705D;
    --button-fokus-color: #FFE450;
    --animation-preset: cubic-bezier(0.4, 0, 0.2, 1);
}