@import '~node_modules/modern-normalize/modern-normalize.css';
html {
    scroll-behavior: smooth;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
ul, p, li{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
h1, h2, h3{
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
.vissually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
body{
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
input{
    outline: none;
}
button {
    padding: 0;
}