.container{
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 767px) {
        width: 100%;
        max-width: 480px;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 768px){
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
    @media screen and (min-width: 1200px) {
        width: 1280px;
        padding-left: 16px;
        padding-right: 16px;
    }
}