<section class="customers">
  <div class="container task">
    <h2 class="customers__title" id="about">What our Customers Say</h2>
    <p class="customers__pre-title">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers__list">
      <li class="customers__item">
        <div class="customers__star"></div>
        <p class="customers__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customers__container">
          <picture class="customers__photo">
            <source
              srcset="
                ./images/customer-m-48.jpg 1x,
                ./images/customer-m-96.jpg 2x
              "
            />
            <img
              class="customers__photo"
              src="./images/customer-m-48.jpg"
              alt="Foto Sumith Shah"
              width="48"
            />
          </picture>
          <div class="customers__text-container">
            <p class="customers__name">Sumith Shah</p>
            <p class="customers__nick-name">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="customers__item">
        <div class="customers__star"></div>
        <p class="customers__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customers__container">
          <picture>
            <source
              srcset="
                ./images/customer-w-48.jpg 1x,
                ./images/customer-w-96.jpg 2x
              "
            />
            <img
              class="customers__photo"
              src="./images/customer-w-48.jpg"
              alt="Foto Sumith Shah"
              width="48"
            />
          </picture>
          <div class="customers__text-container">
            <p class="customers__name">Sumith Shah</p>
            <p class="customers__nick-name">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
