<section class="favorites">
    <div class="container">
      <h2 class="favorites__title">Some of Our Favorites</h2>
      <p class="favorites__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </p>
      <ul class="favorites__list">
        <li class="favorites__item">
          <img
            srcset="
              ../src/images/des-burger-315.jpg 315w,
              ../src/images/des-burger-630.jpg 630w,
              ../src/images/tab-burger-268.jpg 268w,
              ../src/images/tab-burger-536.jpg 536w,
              ../src/images/mob-burger-224.jpg 224w,
              ../src/images/mob-burger-448.jpg 448w
            "
            class="favorites__img"
            src="../src/images/des-burger-315.jpg"
            sizes="(min-width: 1280px) 33vw, (min-width: 768) 50vw, (min-width: 479) 100vw, 100vw"
            alt="picture of hamburger"
          />
        </li>
        <li class="favorites__item">
          <img
            srcset="
              ../src/images/des-pasta-315.jpg 315w,
              ../src/images/des-pasta-630.jpg 630w,
              ../src/images/tab-pasta-269.jpg 269w,
              ../src/images/tab-pasta-538.jpg 538w,
              ../src/images/mob-pasta-225.jpg 225w,
              ../src/images/mob-pasta-449.jpg 449w
            "
            sizes="(min-width: 1280px) 33vw, (min-width: 768) 50vw, (min-width: 479) 100vw, 100vw"
            class="favorites__img"
            src="../src/images/des-pasta-315.jpg"
            alt="picture of pasta"
          />
        </li>
        <li class="favorites__item">
          <img
            srcset="
              ../src/images/des-pizza-315.jpg 315w,
              ../src/images/des-pizza-630.jpg 630w,
              ../src/images/tab-pizza-268.jpg 268w,
              ../src/images/tab-pizza-536.jpg 536w,
              ../src/images/mob-pizza-224.jpg 224w,
              ../src/images/mob-pizza-448.jpg 448w
            "
            sizes="(min-width: 1280px) 33vw, (min-width: 768) 50vw, (min-width: 479) 100vw, 100vw"
            class="favorites__img"
            src="../src/images/des-pizza-315.jpg"
            alt="picture of pizza"
          />
        </li>
        <li class="favorites__item">
          <img
            srcset="
              ../src/images/des-chicken-315.jpg 315w,
              ../src/images/des-chicken-630.jpg 630w,
              ../src/images/tab-chicken-268.jpg 268w,
              ../src/images/tab-chicken-536.jpg 536w
            "
            sizes="(min-width: 1280px) 33vw, (min-width: 768) 50vw, 100vw"
            class="favorites__img"
            src="../src/images/des-chicken-315.jpg"
            alt="picture of cooked chicken"
          />
        </li>
        <li class="favorites__item">
          <img
            srcset="
              ../src/images/des-salat-315.jpg 315w,
              ../src/images/des-salat-630.jpg 630w,
              ../src/images/tab-salat-269.jpg 269w,
              ../src/images/tab-salat-538.jpg 538w
            "
            sizes="(min-width: 1280px) 33vw, (min-width: 768) 50vw, 100vw"
            class="favorites__img"
            src="../src/images/des-salat-315.jpg"
            alt="picture of salat"
          />
        </li>
        <li class="favorites__item">
          <img
            srcset="
              ../src/images/des-borshch-315.jpg 315w,
              ../src/images/des-borshch-630.jpg 630w,
              ../src/images/tab-borshch-268.jpg 268w,
              ../src/images/tab-borshch-536.jpg 536w
            "
            sizes="(min-width: 1280px) 33vw, (min-width: 768) 50vw, 100vw"
            class="favorites__img"
            src="../src/images/des-borshch-315.jpg"
            alt="picture of borshch"
          />
        </li>
      </ul>
    </div>
  </section>