
<footer class="footer">
    <div class="container">
        <div class="footer__nav">
            <a href="#">
                <svg class="footer__logo" width="69" height="51">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
            </a>
            <ul class="footer__menu">
                <li class="menu__list"><a class="menu__link" href="#">Home</a></li>
                <li class="menu__list"><a class="menu__link" href="#">About</a></li>
                <li class="menu__list"><a class="menu__link" href="#">Service</a></li>
                <li class="menu__list"><a class="menu__link" href="#">Menu</a></li>
                <li class="menu__list"><a class="menu__link" href="#">Contact</a></li>
            </ul>
            <form class="mailing__form">
                <label for="email" class="mailing__label">Subscribe
                    <input type="email" name="email" class="mailing__input" required placeholder="Enter your email">
                </label>
            </form>
            <button type="button" class="mailing__btn">Subscribe</button>
            <p class="privacy__text">By subscribing you agree to with our&nbsp;<span><a class="privacy__link" href="#">Privacy Policy</a></span></p>
        </div>
        <div class="footer__links">
            <ul class="privacy__list">
                <li class="privacy__item"><a class="privacy__link" href="#">Privacy Policy</a></li>
                <li class="privacy__item"><a class="privacy__link" href="#">Terms of Service</a></li>
                <li class="privacy__item"><a class="privacy__link" href="#">Cookies Settings</a></li>
            </ul>
            <p class="copyright">2022 FoodSta. All right reserved.</p>
        </div>
    </div>
</footer>
