<header class="header-page">
  <div class="container container--header">
    <a href="#home">
      <svg class="logo" width="66" height="52">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <button
      type="button"
      class="menu-toggle menu-toggle-open js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-toggle__icon" width="28" height="28">
        <use href="./images/icons.svg#icon-mobmenu"></use>
      </svg>
    </button>
    <div class="mob-menu js-menu-container" id="mobile-menu">
      <button type="button" class="menu-toggle menu-toggle-close js-close-menu">
        <svg class="" width="24" height="24">
          <use href="./images/icons.svg#icon-modal-close"></use>
        </svg>
      </button>
      <nav>
        <ul class="mob-menu__list">
          <li class="mob-menu__item">
            <a class="mob-menu__link js-close-menu" href="#home">Home</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link js-close-menu" href="#about">About</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link js-close-menu" href="#service">Service</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link js-close-menu" href="#menu">Menu</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link js-close-menu" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <button type="button" class="btn btn-header" data-modal-open>
      Order Now
    </button>
  </div>
</header>
