<section class="hero">
    <div class="container hero-container">
        <div class="title-container">
            <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
            <p class="hero-desription">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, 
              eros dolor interdum nulla, ut commodo diam libero vitae erat.
            </p>
            <button class="hero-button" type="button">Order Now</button>
        </div>
    </div>

    <div class="swiper mySwiper box">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <picture>
            <source srcset="
              ./images/des-cutlets-528.jpg 1x,
              ./images/des-cutlets-1056.jpg 2x"
              media="(min-width: 1280px)" />
            <source srcset="
              ./images/tab-cutlets-292.jpg 1x,
              ./images/tab-cutlets-584.jpg 2x" 
              media="(min-width: 768px)" />
            <img
              class="slider"
              src="./images/des-cutlets-528.jpg" 
              alt="salad" 
              width="528"  />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source srcset="
              ./images/des-greek-528.jpg 1x,
              ./images/des-greek-1056.jpg 2x"
              media="(min-width: 1280px)" />
            <source srcset="
              ./images/tab-greek-292.jpg 1x,
              ./images/tab-greek-584.jpg 2x" 
              media="(min-width: 768px)" />
            <img
              class="slider"
              src="./images/des-greek-528.jpg" 
              alt="salad" 
              width="528" />
          </picture>
        </li>
        <li class="swiper-slide">
          <picture>
            <source srcset="
              ./images/des-egg-528.jpg 1x,
              ./images/des-egg-1056.jpg 2x"
              media="(min-width: 1280px)" />
            <source srcset="
              ./images/tab-egg-292.jpg 1x,
              ./images/tab-egg-584.jpg 2x" 
              media="(min-width: 768px)" />
            <img
              class="slider"
              src="./images/des-egg-528.jpg" 
              alt="salad" 
              width="528" />
          </picture>
        </li>
      </ul>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
</section>