<div class="backdrop" data-modal>
  <div class="modal">
    <button class="modal__close" type="button" data-modal-close>
      <svg class="close__icon" width="24" height="24">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <p class="modal__title">Order Form</p>
    <form class="modal__form">
      <div class="modal__field">
        <label for="user-name" class="input__title">Name</label>
        <div class="input__wrap">
          <input class="modal__input" type="text" name="user-name" id="user-name" placeholder="Your name" minlength="3"
            maxlength="25" required />
        </div>
        <p class="error">The name must be between 3 and 25 characters</p>
      </div>
      <div class="modal__field">
        <label for="user-tel" class="input__title">Phone number</label>
        <div class="input__wrap">
          <input class="modal__input" type="tel" name="user-tel" id="user-tel" placeholder="+38(0_ _) _ _ _   _ _   _ _"
            minlength="10" required />
        </div>
        <p class="error">This phone must be in the format 099 000 00 00</p>
      </div>
      <div class="modal__field modal__field--marg">
        <label for="user-email" class="input__title">E-mail</label>
        <div class="input__wrap">
          <input class="modal__input" type="email" name="user-email" id="user-email" placeholder="example@gmail.com"
            required />
        </div>
        <p class="error">Please enter a valid email address</p>
      </div>
      <button class="modal__btn" type="submit">Send</button>
    </form>
  </div>
</div>

<script>
  function validateForm() {
    var x = document.forms["form"]["fname"].value;
    if (x == "") {
      alert("Please enter a valid email address");
      return false;
    }
  }
</script>