<section class="section offerings__section">
  <div class="container offerings__container">
    <div class="offering__img-outer-wrap">
      <div class="offerings__img-inner-wrap">
        <div class="offerings__img"></div>
        <div class="offering__img-shadow"></div>
      </div>
    </div>
    <div class="offerings__general-container">
      <div class="offerings__title-container">
        <h2 class="offerings__title" id="service" data-aos="zoom-in-left"
        data-aos-easing="linear"
        data-aos-duration="750">
          What’s Special About Our Offerings
        </h2>
        <p class="offerings__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
      </div>
      <ul class="offerings__list">
        <li class="offerings__item">
          <h3 class="offerings__item-title offerings__item-title--rocket">
            Fastest Delivery
          </h3>
          <p class="offerings__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings__item">
          <h3 class="offerings__item-title offerings__item-title--touch">
            Easy to Order
          </h3>
          <p class="offerings__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>

      <div class="offerings__order-wrap">
        <button class="order__button btn--focus" type="button" data-modal-open>
          Order Now
        </button>
        <a class="offerings__link" href="">
          Read More
          <svg class="offerings__icon-more" width="5" height="9">
            <use href="/src/images/icons.svg#icon-vector"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
