<section class="subscribe">
  <div class="container">
    <picture>
      <source
        srcset="
          ./images/customers+subscribe/banana-mob.png    1x,
          ./images/customers+subscribe/banana-mob-2x.png 2x
        "
      />
      <img
        class="subscribe__banana"
        src="./images/customers+subscribe/banana-mob.png"
        alt="banana"
        width="161px"
      />
    </picture>
    <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
    <h3 class="subscribe__pre-title">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </h3>
    <div class="subscribe__container">
      <input
        id="email"
        class="subscribe__input"
        type="email"
        name="email"
        required
        placeholder="Enter your email"
      />
      <label for="email"></label>
      <button class="subscribe__button" type="button">Subscribe</button>
    </div>
  </div>
</section>
