.favorites{
    background-color: $main-bg-color;
    padding: 60px 0;

    @media screen and (min-width: 768px){
        padding: 100px 0;
    }
}

.favorites__title{
    margin: 0;
    margin-bottom: 20px;

    font-style: normal;
    text-align: center;

    @media screen and (min-width: 200px){
        font-size: 28px;
        line-height: calc(33 / 28);
    }

    @media screen and (min-width: 768px){
        font-size: 42px;
        line-height: calc(49 / 42);
    }
}

.favorites__text{
    margin: 0;
    margin-bottom: 60px;

    font-style: normal;
    text-align: center;

    @media screen and (min-width: 200px){
        font-size: 14px;
        line-height: calc(16 / 14);
    }

    @media screen and (min-width: 768px){
        font-size: 16px;
        line-height: calc(19 / 16);
    }

    @media screen and (min-width: 1280px){
        margin-bottom: 40px;
    }
}

.favorites__list{
    margin: 0;
    padding: 0;
    display: flex;

    list-style: none;

    @media screen and (min-width: 768px){
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;
    }

    @media screen and (min-width: 1280px){
        gap: 31px;
    }

    @media screen and (max-width: 767px){
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }   
}

.favorites__item{
    margin: 0;
    padding: calc(29px - 11px) calc(28px - 11px);

    background-color: $main-bg-color;

    border: 11px solid $accent-color;
    border-radius: 50%;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: $animation-preset;

    &:hover,
    &:focus{
        border: 11px solid $buttons-green;
    }

    @media screen and (max-width: 767px){
        &:nth-child(n + 4){
            display: none;
        }
    }

    @media screen and (max-width: 479px){    
        max-width: 280px;
        max-height: 282px;    
    }

    @media screen and (min-width: 480px){
        width: 280px;
        height: 280px;
    }

    @media screen and (min-width: 768px){
        // flex-basis: calc((100% - 4 * 16px) / 2);
        // margin: 16px;
        padding: calc(34px - 14px) calc(35px - 14px);
        width: 336px;
        height: 338px;

        border: 14px solid $accent-color;

        &:hover,
        &:focus{
            border: 14px solid $buttons-green;
        }
    }

    @media screen and (min-width: 1280px){
        // flex-basis: calc((100% - 4 * 16px) / 3);
        // margin: 15px;
        padding: calc(40px - 16px) calc(41px - 16px);
        width: 395px;
        height: 397px;

        border: 16px solid $accent-color;

        &:hover,
        &:focus{
            border: 16px solid $buttons-green;
        }
    }
}

.favorites__picture{
    border-radius: 50%;
    outline: 2px solid red;
}

.favorites__img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}