@mixin retina {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }
}

.footer {
    background-color: var(--main-bg-color);
    box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

    padding: 60px 0;
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            padding: 100px 0;
        }
        @media screen and (min-width: 1280px) {
            padding: 100px 0;
        }

    background-image: 
    url(../images/apple_banana_bg.jpg), 
    url(../images/orange_bg.jpg), 
    url(../images/apple_bg.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto auto, auto auto, auto auto;
    background-position: 58% 100%, top right, top 132px left;

    @include retina {
            background-image: 
            url(../images/apple_banana_2xbg.jpg), 
            url(../images/orange_2x_bg.jpg), 
            url(../images/apple_2x_bg.jpg);
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-size: 253px 56px, 104px 259px, 110px 116px;
            background-position: 50% 100%, top right, top 132px left;
        }
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            background-image:
                url(../images/footer-tab-right-bg.jpg),
                url(../images/footer-tab-orng-bg-min.png),
                url(../images/footer-tab-bnnappl-bg-min.png),
                url(../images/footer-tab-appl-bg-min.png);
                background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
                background-size: auto auto, auto auto, auto auto, auto auto;
                background-position: top right, bottom, bottom, bottom;
                @include retina {
                        background-image:
                            url(../images/footer-tab-right-2xbg.jpg),
                            url(../images/footer-tab-orng-2xbg-min.png),
                            url(../images/footer-tab-bnnappl-2xbg-min.png),
                            url(../images/footer-tab-appl-2xbg-min.png);
                            background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
                            background-size: 203px 365px, 184px 62px, 399px 128px, 282px 141px;
                            background-position: top right, bottom left, left 41% bottom, bottom right;
                }
            }
            @media screen and (min-width: 1280px) {
                background-image: url(../images/footer-desk-bg.png);
                    background-repeat:no-repeat;
                    background-size: auto auto;
                    background-position: bottom;
                @include retina {
                    background-image: url(../images/footer-desk-2xbg.png);
                    background-size: 1211px 266px;
                    background-position: bottom;
                }
            }
}

.footer__nav {
    position: relative;
    margin-bottom: calc(30px - 6.2px);
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            margin-bottom: 35px;
        }
        @media screen and (min-width: 1280px) {
            margin: 0 0 20px 0;
        }
}

.footer__navigation {
    margin-bottom: 40px;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        display: flex;
        align-items: center;
    }
    @media screen and (min-width: 1280px) {
        align-items: center;
        display: flex;
        margin-bottom: calc(129px - 63px);
    }
}

.footer__logo {
    display: block;
    position: absolute;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        position: static;
    }
    @media screen and (min-width: 1280px) {
        position: static;
    }
}

.footer__menu {
    display: block;
    width: 50px;

    padding: 0;
    margin: 0 81px 0 auto;
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            display: flex;
            margin: 0 0 0 114px;
            align-items: center;
            gap: 28px;
        }
        @media screen and (min-width: 1280px) {
            display: flex;
            margin: 0 0 0 148px;
            align-items: center;
            gap: 28px;
        }

}

.menu__list {
    list-style: none;
}

.menu__list:not(:last-child) {
    margin-bottom: 20px;
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            margin: 0;
        }
        @media screen and (min-width: 1280px) {
            margin: 0;
        }
}

.menu__link {
    font-size: 14px;
    line-height: calc(16 / 14);
    color: #000000;
    text-decoration: none;
    transition: color 300ms linear;
    &:hover {
        color: var(--buttons-green);
        text-decoration: underline;
    }
}

.mailing__form {
    margin-bottom: 20px;
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            margin-bottom: 20px;
        }
        @media screen and (min-width: 1280px) {
            max-width: 395px;
            margin: 0;
            position: absolute;
            top: 0;
            right: 0;
        }
}

.mailing__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--main-color);
}

.mailing__wrap {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        display: flex;
        gap: 13px;
        margin-bottom: 12px;
    }
    @media screen and (min-width: 1280px) {
        display: flex;
        gap: 13px;
        margin-bottom: 12px;
        }
    margin: 12px 0 0 0;
}

.mailing__input {
    display: block;
    width: 100%;
    height: 42px;
    background-color: var(--white-color);
    border: 0.854167px solid var(--accent-color);
    border-radius: 30px;
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            max-width: 280px;
            margin: 0;
        }
        @media screen and (min-width: 1280px) {
            margin: 0;
        }

    padding: 0 12px 0;
    margin: 12px 0 20px 0;
}

.mailing__input::placeholder {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 150%;
    color: #505050;
}

.mailing__btn {
    display: block;
    padding: 11px 22px;
    margin: 0 0 20px auto;
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            margin: 0;
        }
        @media screen and (min-width: 1280px) {
            margin: 0;
        }

    background-color: var(--white-color);
    border: 0.854167px solid var(--buttons-dark-green);
    border-radius: 30px;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: var(--main-color);
    transition: border-color 300ms linear;
    &:hover {
        border-color: var(--accent-color);
        cursor: pointer;
    }
}

.privacy__text {
    font-size: 12px;
    line-height: calc(14 / 12);
    color: var(--main-color);

    margin: 0;
}

.footer__links {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        display: flex;
        // text-decoration: underline;
    }
    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.privacy__list {
    margin: 0 0 40px;
    padding: 0;
    display: flex;
    justify-content: space-around;
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            justify-content: start;
            gap: 20px;
            margin: 0;
        }
        @media screen and (min-width: 1280px) {
            justify-content: start;
            gap: 20px;
            margin: 0;
        }
}

.privacy__item {
    list-style: none;
}

.privacy__link {
    text-decoration: underline;
    font-weight: 400;
    font-size: 10px;
    line-height: calc(12 / 10);
    color: var(--buttons-dark-green);
        @media screen and (min-width: 768px) {
            font-size: 12px;
            line-height: calc(14 / 12);
        }
        @media screen and (min-width: 1280px) {
            font-size: 12px;
            line-height: calc(14 / 12);
        }
}

.copyright {
    font-size: 10px;
    line-height: calc(12 / 10);
    color: var(--main-color);
    text-align: center;
    margin: 0;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        text-align: start;
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 12px;
        line-height: calc(14 / 12);
    }
    @media screen and (min-width: 1280px) {
        font-size: 12px;
        line-height: calc(14 / 12);
    }
}
// ___________SOC-LINKS-ICONS___________
// ___________SOC-LINKS-ICONS___________
// ___________SOC-LINKS-ICONS___________
.soc-links {
    @media screen and (min-width: 768px) {
            max-width: 230px;
            margin: 0 auto;
        }
}

.soc-links__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--main-color);
    text-align: center;

    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
        text-align: center;
        margin: 0 0 7px 0;
    }
}

.soc-links___list {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    @media screen and (min-width: 768px) {
        justify-content: flex-start;
        gap: 30px;
    }
    @media screen and (min-width: 1280px) {
        gap: 30px;
    }
}

.soc-links__item {
    width: 35px;
    height: 35px;
}

.soc-links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: background-color 300ms $animation-preset, transform 300ms $animation-preset, box-shadow 300ms $animation-preset;
}

.soc-links__icon {
    fill: var(---main-color);
    transition: fill 300ms $animation-preset;
}

.soc-links__link:hover, .soc-links__link:focus {
    background-color: var(--button-fokus-color);
    transform: scale(1.15);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16);
}
.soc-links__link:hover .soc-links__icon,
.soc-links__link:focus .soc-links__icon {
    fill: var(--main-bg-color);
}
