.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow-y: auto;

    background-color: rgba(94, 99, 99, 0.7);;
    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 32px 20px;
    height: 449px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 30px;

    transform: translate(-50%, -50%);

    @media screen and (max-width: 767px) {
        max-width: 458px;
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        width: 458px;
        padding: 32px;
    }
}

.modal__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 12px;
    top: 12px;

    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: $white-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition:
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close__icon {
    min-width: 24px;
}

.modal__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: $main-color;
}

.modal__field {
    position: relative;

    &:nth-child(-n + 2) {
        margin-bottom: 24px;
    }
}

.modal__field--marg {
    margin-bottom: 32px;
}

.input__title {
    display: block;
    margin-left: 12px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: $main-color;
    margin-bottom: 2px;
}

.modal__input {
    width: 100%;
    height: 48px;
    color: $main-color;

    font-size: 16px;
    line-height: 1.25;
    border: 1px solid rgba(18, 18, 18, 0.12);
    border-radius: 30px;
    padding-left: 12px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    outline: transparent;
    cursor: pointer;
    transition:
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    &::placeholder {
        color: #C4C4C4;
    }

    &:focus,
    &:hover {
        border-color: $accent-color;
    }
}

.error {
    display: none;
    color: var(--invalid-color);
}

.modal__input:not(:placeholder-shown):not(:focus):valid {
    border-color: var(--buttons-dark-green);
}
  
.modal__input:not(:placeholder-shown):not(:focus):invalid {
    border-color: var(--invalid-color);
}
  
.modal__input:not(:placeholder-shown):not(:focus):invalid + .error {
    display: block;
}

.modal__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 10px 38px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: var(--main-color);

    background-color: var(--white-color);
    border: 2px solid var(--buttons-dark-green);
    border-radius: 30px;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        
}

.modal__btn--border {
    border-color: red;
}

.modal__btn--success {
    background-color: greenyellow;
}
